{{ songCtrl.song().title }}
%br/
%em
  {{ songCtrl.song().artist }}

%table
  %tbody
    %tr{:ng => {:repeat => 'section in songCtrl.song().sections'}}
      %td.text-right{:style => 'vertical-align: top; padding: 10px; padding-top: 0'}
        %strong
          {{ section.name }}
      %td
        %div{:ng => {:repeat => 'line in section.lines'}}
          %song-component{:ng => {:repeat => 'component in line'}}