body {
  padding: 10px;
}

#file-list {
  max-height: 500px;
  overflow-x: auto;
}

#songs {
  max-height: 700px;
  overflow: scroll;
}

song-component {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
}

chord {
  color: darkred;
}

a {
  &[ng-click] {
    cursor: pointer;
  }
}

@media only print {
  .panel {
    border: none;
  }
}