!!! 5
%html{'ng-app' => 'songbooks', 'ng-controller' => 'SongsController as songsCtrl'}
  %head
    %link{:href => '/stylesheets/bootstrap.min.css', :rel => 'stylesheet'}/
    %link{:href => '/stylesheets/bootstrap-theme.min.css', :rel => 'stylesheet'}/
    %link{:href => '/stylesheets/application.css', :rel => 'stylesheet'}/

    - %w(jquery-2.1.4.min angular angular-route application directives filter routes services controller).each do |file|
      %script{:src => "/javascripts/#{file}.js", :type => 'text/javascript'}

  %body
    .container-fluid
      .row
        .col-sm-3
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                Available Songs
                %br/
                %small= Songbooks.chords_directory.path
            .list-group
              %a.list-group-item{:ng => {:click => 'songsCtrl.setActive(song)',
                                         :repeat => 'song in songsCtrl.songs()',
                                         :class => "{ 'active': song.active }"}}
                {{ song.title }} -
                %i
                  {{ song.artist }}

        .col-sm-6
          .panel.panel-default
            .panel-body#main-content{:ng => {:view => true}}
        .col-sm-3
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                Ausgewählte Lieder
            .panel-body
              ll

